.install-popup {
    position: fixed;
    bottom: 20px;
    right: 37px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgb(0 0 0 / 10%);
    padding: 20px;
    z-index: 1000;
    text-align: right;
  }
  
  .hidden {
    display: none;
  }

  .install_button{
    background-color: white;
    color: black;
    margin-top: 10px ;
  }
  